.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  background: #202731;
  color: white;
  font-size: 15px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #202731;
  color: white;
  text-align: center;
}
#login{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 270px;
  border-radius: 3px;
  background-color: gray;
  overflow: hidden;
}
#buttonPrijava:focus,
#buttonPrijava:hover {
  background-color: #28ad63;
}
#formDiv{
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 270px;
  border-radius: 3px;
  background-color: gray;
  overflow: hidden;
}
#alignLogin{
  text-align: center;
}
#buttonPrijava {
  background-color: #202731;
  color: #fff;
  padding: 0.25em 1.5em;
  margin-top: 10px;
  
}
#a{
	float: left;
	margin-left: 10px;
	margin-bottom: 5px;
}

h2{
  background-color: #202731;
  color: #C5C6C8;
  display: block;
  padding: 1.5em;
  text-align: center;
}
body{
  background-color:gray
  }
  .group{
     position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 270px;
    border-radius: 3px;
    background-color: gray;
    overflow: hidden;
    text-align: center
  }
  .link {
    color: white;
    background-color: #202731;
    color: white;
    padding: 15px 25px;
  }
  
  
